---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main style="text-align: center; padding: 2rem;">
      <section class="card">
        <p>
          Welcome to the official Yellowstone QSR Website. This is a temporary page that will be updated with more links down the line.
        </p>

        <div class="tile-grid" style="margin-top: 2rem;">
          <!-- Tickets -->
          <a class="tile" href="/tickets">
            <h2>
              <span>Tickets</span>
              <span>&nbsp;</span>
            </h2>
          </a>

          <!-- OTP Interest Form -->
          <a
            class="tile"
            href="https://nocodb.yellowstoneqsr.org/dashboard/#/nc/form/be1a13a2-6297-4ecd-8163-5277bbb34db9"
            target="_blank"
            rel="noopener noreferrer"
          >
            <h2>
              <span>OTP</span>
              <span>Interest Form</span>
            </h2>
          </a>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
