---
import BaseHead from '../components/BaseHead.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Old Faithful Live Stream" description="Live view of the Old Faithful geyser." />
    <style>
      html, body {
        margin: 0;
        padding: 0;
        background: black;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      iframe {
        width: 100vw;
        height: 100vh;
        border: none;
      }
    </style>
  </head>
  <body>
    <iframe
      src="https://www.nps.gov/media/webcam/view.htm?id=81B461AF-1DD8-B71B-0BECACFAED0E81D2"
      allowfullscreen
    ></iframe>
  </body>
</html>
