<header>
	<nav>
		<h2><a href="/">YellowstoneQSR</a></h2>
		<div class="internal-links">
			<a href="https://tickets.yellowstoneqsr.org" target="_blank" rel="noopener noreferrer">Tickets</a>
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		display: none; /* Hide the title if you want the link truly centered */
		margin: 0;
		font-size: 1em;
	}
	nav {
		display: flex;
		justify-content: center; /* Center content horizontally */
		align-items: center;
		height: 80px;
	}
	.internal-links {
		display: flex;
		justify-content: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		font-size: 1.2em;
	}
	nav a.active {
		border-bottom-color: var(--accent);
	}
</style>
